.form-modal-qutu h1{
    font-size: 32px;
    color: #2b98e6;
    font-weight: 700;
}
.contact-form-container{
    position: relative;
}
.form-modal-qutu-container{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    align-items: center;
    justify-content: center;

    z-index: 9999999999999999999999999;
}
.form-modal-qutu{
    position: relative;
    width: 350px;
    height: 200px;
    background-color:#2b1a66;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    border: 1px solid rgba(0, 0, 0, 0.123);
}
.form-modal-qutu-icon{
    position: absolute;
    right: 15px;
    top: 15px;
   font-size: 25px;
   color: white;
   cursor: pointer;
}