.not-page-found{
    padding: 50px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.not-page-img{
    background-image: url(https://res.cloudinary.com/dqhoi1bfi/image/upload/v1680946695/404erorpage_ap0oj0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
}
.not-page-text h1{
    color: #2b98e6;
    /* color: #626262; */
    font-weight: 800;
    text-align: center;
    font-size: 60px;
}
.not-page-text h2{
    color: #626262;
    /* color: #2b98e6; */
    font-weight: 700;
    text-align: center;
    font-size: 42px;
}
@media (max-width:500px) {
    .not-page-text h2{
        font-size: 32px;
    }
}