.sevrices-deyerlerimiz{
    display: flex;
    padding:  0px 100px 100px;
    margin-top: 150px;
    position: relative;
    height: max-content;
    /* background-color: aqua; */
}
.sevrices-deyerlerimiz-left{
    display: flex;
    flex-direction: column;
    background-color: #2b1a66;
    gap: 30px;
    padding: 80px 60px;
    padding-right: 370px;
    width: 86%;
}
.sevrices-deyerlerimiz-left h6{
    font-size: 20px;
    font-weight: 800;
    color: #2b98e6;
}
.sevrices-deyerlerimiz-left h1{
    font-size:42px;
    font-weight: 900;
    color: #fff;
}
.sevrices-deyerlerimiz-left p{
    font-size:15px;
    
    color: #fff;
}
.sevrices-deyerlerimiz-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 50px;
    top: 90px;
   
}
.sevrices-deyerlerimiz-right-top, .sevrices-deyerlerimiz-right-bottom{
    display: flex;
    gap: 20px;
   
}

.service-award-star-icon{
    font-size: 50px;
    color: #2b98e6;
}

.sevrices-award{
    border: none;
    box-shadow:0 0 20px #2a1a6652;
    padding: 0;
    background-color: #fff;
   
}
@media (max-width:1300px) {
    .sevrices-deyerlerimiz{
        padding-left: 0;
       
    }
}
@media (max-width:1202px) {
    .sevrices-deyerlerimiz{
        flex-direction: column;
        padding-right: 20px;
    }
    .sevrices-deyerlerimiz-left{
        width: 90%;
        padding-right: 50px;
        /* margin-right: 100px; */
       
    }
    .sevrices-deyerlerimiz-right{
        width: 100%;
        position: relative;
        top: -80px;
        align-items: flex-end;
        right: 0;
        /* height: 500px; */
        /* background-color: aquamarine; */
    }
    .sevrices-award{
        padding:  0 20px;
       width:  300px;
    }
    .sevrices-deyerlerimiz-right-top, .sevrices-deyerlerimiz-right-bottom{
        gap: 50px;
    }
}
@media (max-width:800px){
    .sevrices-deyerlerimiz-left{
        padding-left: 30px;
    }
}
@media (max-width:693px) {
    .sevrices-deyerlerimiz{
        padding-right: 0;
    }
    .sevrices-deyerlerimiz-left{
        width: 100%;
    }
    .sevrices-deyerlerimiz-right-top, .sevrices-deyerlerimiz-right-bottom{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .sevrices-award{
        width: 80%;
        justify-content: flex-start;
    }
}
@media (max-width:579px) {
    .sevrices-deyerlerimiz-right-top{
        gap: 10px;
    }
    .sevrices-deyerlerimiz-right{
    top: -50px;
    }
    .sevrices-deyerlerimiz-left h1{
        font-size: 37px;
    }
}